[Desktop Entry]
Name=SRAnal710
Comment=Run program SRAnal710
Exec=/opt/jre1.8.0_461/bin/java -jar "$HOME/.SRAnal710/dist/SRAnal710e.jar"
Icon="$HOME/.SRAnal710/images.ico"
Terminal=false
Type=Application
Categories=Utility;
